/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

/*****BEGIN FONTS*****/
@font-face {
  font-family: RobotoDraft;
  src: url("../fonts/RobotoDraft-Thin.woff2?v=1.0.0") format("woff2"), url("../fonts/RobotoDraft-Thin.woff?v=1.0.0") format("woff"), url("../fonts/RobotoDraft-Thin.ttf?v=1.0.0") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: RobotoDraft;
  src: url("../fonts/RobotoDraft-Light.woff2?v=1.0.0") format("woff2"), url("../fonts/RobotoDraft-Light.woff?v=1.0.0") format("woff"), url("../fonts/ight/RobotoDraft-Light.ttf?v=1.0.0") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: RobotoDraft;
  src: url("../fonts/RobotoDraft-Regular.woff2?v=1.0.0") format("woff2"), url("../fonts/RobotoDraft-Regular.woff?v=1.0.0") format("woff"), url("../fonts/RobotoDraft-Regular.ttf?v=1.0.0") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: RobotoDraft;
  src: url("../fonts/RobotoDraft-Regular.woff2?v=1.0.0") format("woff2"), url("../fonts/RobotoDraft-Regular.woff?v=1.0.0") format("woff"), url("../fonts/RobotoDraft-Regular.ttf?v=1.0.0") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: RobotoDraft;
  src: url("../fonts/RobotoDraft-Italic.woff2?v=1.0.0") format("woff2"), url("../fonts/RobotoDraft-Italic.woff?v=1.0.0") format("woff"), url("../fonts/RobotoDraft-Italic.ttf?v=1.0.0") format("truetype");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: RobotoDraft;
  src: url("../fonts/RobotoDraft-Italic.woff2?v=1.0.0") format("woff2"), url("../fonts/RobotoDraft-Italic.woff?v=1.0.0") format("woff"), url("../fonts/RobotoDraft-Italic.ttf?v=1.0.0") format("truetype");
  font-weight: normal;
  font-style: italic; }
/* END Italic */
/* BEGIN Medium */
@font-face {
  font-family: RobotoDraft;
  src: url("../fonts/RobotoDraft-Medium.woff2?v=1.0.0") format("woff2"), url("../fonts/RobotoDraft-Medium.woff?v=1.0.0") format("woff"), url("../fonts/RobotoDraft-Medium.ttf?v=1.0.0") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: RobotoDraft;
  src: url("../fonts/Bold/RobotoDraft-Bold.woff2?v=1.0.0") format("woff2"), url("../fonts/Bold/RobotoDraft-Bold.woff?v=1.0.0") format("woff"), url("../fonts/Bold/RobotoDraft-Bold.ttf?v=1.0.0") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: RobotoDraft;
  src: url("../fonts/RobotoDraft-Bold.woff2?v=1.0.0") format("woff2"), url("../fonts/Bold/RobotoDraft-Bold.woff?v=1.0.0") format("woff"), url("../fonts/Bold/RobotoDraft-Bold.ttf?v=1.0.0") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: RobotoDraft;
  src: url("../fonts/RobotoDraft-BoldItalic.woff2?v=1.0.0") format("woff2"), url("../fonts/RobotoDraft-BoldItalic.woff?v=1.0.0") format("woff"), url("../fonts/RobotoDraft-BoldItalic.ttf?v=1.0.0") format("truetype");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: RobotoDraft;
  src: url("../fonts/RobotoDraft-BoldItalic.woff2?v=1.0.0") format("woff2"), url("../fonts/RobotoDraft-BoldItalic.woff?v=1.0.0") format("woff"), url("../fonts/RobotoDraft-BoldItalic.ttf?v=1.0.0") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: RobotoDraft;
  src: url("./fonts/Black/RobotoDraft-Black.woff2?v=1.0.0") format("woff2"), url("./fonts/Black/RobotoDraft-Black.woff?v=1.0.0") format("woff"), url("./fonts/Black/RobotoDraft-Black.ttf?v=1.0.0") format("truetype");
  font-weight: 900;
  font-style: normal; }

/*font-family: 'Roboto Slab', serif;*/


/*end font css*/

/* For testing only */

:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

/*above is for testing only*/



body {
  color: #424242;
  font-family: 'RobotoDraft','Helvetica Neue',Helvetica,Arial;
  font-size: 1em;
  line-height: 1.6;
  font-weight: 300;
  margin: 0;
}
h1  {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2em;
  letter-spacing: .05em;
}


/*****NAV*****/
.fa {
  float: right;
  font-size: 1.152em;
  color: #787878;
  padding-left: 3%;
  padding-right: 3%;
}
.fa-caret-down {
  padding-top: 7px;
}
.fa-search {
  font-size: 1.3em;
  padding-top: 2px;
}
.navLeft {
  float: left;
  background-image: url("../img/googleLogo.png");
  background-position: 25px 15px;
  background-size: 55%;
  background-repeat: no-repeat;
  width: 30%;
  height: 60px;
  padding-top: 15px;
}
.collapseLeft {
  float: right;
  display: inline-block;
  padding-right: 2%;
}
.collapseLeft > aside > a {
  font-size: .85em;
  text-align: right;
  color: #666666;
  text-decoration: none;
}
.navRight {
  float: right;
  width: 70%;
  height: 60px;
  padding-top: 15px;
}
.navBarRight {
  width: 100%;
}
.navBarRight > aside > a {
  float: right;
  font-size: .9em;
  font-weight: 300;
  display: inline-block;
  text-align: right;
  color: #666666;
  text-decoration: none;
  padding-left: 2%;
  padding-right: 2%;
}
.navBar.navBarRight::after {
  content: " ";
  display: table;
  clear: both;
}


/*****MEDIA QUERIES*****/

@media screen and (min-width: 1450px) {
  body {
  background-color: #e0e0e0;
  }
  .container {
    width: 1450px;
    background-color: white;
    margin: auto;
  }
}
